[class=container] {}

*{ box-sizing: border-box; }

img{
	width: 100%;
}

/* PART-1 */
.part-1 {
	margin-top: 10px;
}

.part-1 .contact-us {
	color: #B8B8B8;
	font-size: 16px;
}

.part-1 .clear-right {
	clear: right;
}

.part-1 nav ul li a{
	margin-left: 37px;
	font-weight: bold;
	font-size: 16px;
	color: black;
}

.part-1 .small-screen {
	clear: both;
}

.part-1 .small-screen nav ul li {
	margin-top: 10px;
}


.part-1 .active-item {
	color: #99cc00;
}

.part-1-line hr {
	border: none;
    height: 2px;
    /* Set the hr color */
    color: #bb8b8b; /* old IE */
    background-color: #b8b8b8; /* Modern Browsers */
}

/* PART-3 */
.part-3 {
	font-size: 15px;
}

.part-3 .btn {
	border-radius: 0;
	background-color: #88cc00;
	color: white;
}

.part-3 h2 {
	color: #ff00aa;	
}
.part-3 h5 {
	font-weight: bold;
}

.part-3 .zero-padding {
	padding-left: 0;
}

.part-3 .date1 {
	font-weight: bold;
}

/* 	PART-4 */
.part-4 {
	font-size: 15px;
}

.part-4 h2 {
	font-weight: bold;
}

.part-4 .btn {
	background-color: #88cc00;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
}

.part-4 h5 {
	font-weight: bold;
	font-size: 16px;
}

/* PART 5 STYLE SHEET */
.part-5 hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

/* PART-6 */
.part-6 {
	font-size: 16px;
}
.part-6 nav ul li a{
	color: black;
	padding-left: 10px;
}

.part-6 [class="visible-xs-block"] nav ul li {
	margin-bottom: 10px;
}


