html {background-color: #f1f1f1;}

*{ box-sizing: border-box; }

body {
	max-width: 992px;
	margin: auto;
	position: relative;
}

@media (max-width: 767px) {
	body {
		max-width: 324px;
	}
}

/* PART 1 STYLE SHEET */
.part-1 .logo {
	float: left;
	margin: 10px 0 0 10px;
}

.part-1 .contact-us {
	color: rgba(128,128,128,0.7); 
	font-size: 15px;
	float: right;
	margin: 24px 14px 0 0;
}

.part-1 .menu-bar ul {
	float: right;
	position: absolute;
	right: 11px;
	top: 45px;
}
.part-1 .menu-bar ul li a{
	color: black;
	display: inline-block;
	margin: 17px 0 0 25px;
	font-weight: bold;
	font-size: 15px;
}

.part-1 .header-menu .active, .part-1 .small-screen-menu-bar .active {
	color: #99cc00;
}

.part-1 .small-screen-menu-bar {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 15px;
}
.part-1 .small-screen-menu-bar ul li {
	margin-top: 10px;
}

.part-1 .small-screen-menu-bar ul li a {
	color: black;
}

@media (max-width: 767px) {
	.part-1 .logo {
		margin: 10px 0 30px 25px;
		clear: both;
	}
}

.part-1 .menu-icon {
	float: right;
	margin: 35px 14px 0 0;
	color: rgb(100,150,100);
	font-size: 20px;
}

.part-1 hr {
	border: none;
    height: 3px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #f1f1f1; /* Modern Browsers */
	margin-top: 12px;
}

/* PART 2 STYLE SHEET */
.slide-image {
	clear: both;
	padding-top: 14px;
}


/* PART 3 STYLE SHEET */
.part-3 h3 {
	color: rgb(251,100,160);
	font-weight: bold;
}

.part-3 .heading {
	font-size: 16px;
	font-weight: bold;
}

.part-3 .button1, .part-4 .button1{
	background-color: #ace600;
	background-color: rgb(140,190,60);
	color: white;
	border: none;
}


/* PART 4 STYLE SHEET */
.part-4 h3 {
	font-weight: bold;
}

.part-4 .appointment-button {
	border-radius: 7px;
	width: 100%;
	color: black;
	padding: 8px 0;
	font-weight: bold;
	margin: auto;
}

/* PART 5 STYLE SHEET */
.part-5 hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

/* PART 6 STYLE SHEET */
.part-6 ul li a{
	color: black;
	font-size: 15px;
}
.part-6 .small-screen-menu-bar {
	text-decoration: none;
	color: black;
	font-size: 15px;
}
.part-6 .small-screen-menu-bar ul li {
	margin-top: 8px;
}