/* PART 0 */
*{ box-sizing: border-box; }

.container {
	background-color: #f1f1f1;
}
/* PART 1 */
.part-1 .logo {
	float: left;
	margin-top: 10px;
}

.part-1 .contact-us {
	color: rgba(128,128,128,0.7);
	font-size: 15px;
	float: right;
	margin-top: 25px;
}
