html {background-color: #f1f1f1;}
*{ box-sizing: border-box; }

.header-menu .active {
	color: #99cc00;
}
	
body {
	position: relative;
	max-width: 992px;
	margin: auto;
}
.logo {
	float: left;
	padding: 0.7% 0 0 2.5%;
}
.contact-us {
	float: right;
	margin: 24px 25px 0 0;
	clear: both;
}
.header-menu ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}
.header-menu ul {
	float: right;
	position: absolute;
	right: 13px;
	top: 41px;
	clear:both;
}
.header-menu ul li a{
	text-decoration: none;
	color: black;
	display: inline-block;
	margin: 17px 0px 5px 40px;
	font-weight: bold;
	font-size: 15px;
}

.footer-menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-menu ul li {
	margin: 0 8px 0 12px;
	float: left;
}

.footer-menu ul li a{
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 15px;
}

.slide-image {
	margin-top: 1.3%;
}

.heading1{
	color: rgb(251,100,160);
}

.clearfix {
	overflow: auto;
}
.button1 {
	background-color: #ace600;
	background-color: rgb(140,190,60);
	color: white;
	border: none;
}
.appointment-button {
	border-radius: 7px;
	width: 100%;
	color: black;
	padding: 8px 0;
	font-weight: bold;
	margin: auto;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}



h2 {
	font-weight: bold;
}

.paddingL1{
	padding-left: 25px;
}
.paddingL2{
	padding-left: 20px;
}
.paddingL3{
	padding-left: 15px;
}
.paddingR1{
	padding-right: 25px;
}
.paddingR2{
	padding-right: 45px;
}
